<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1 style="color:blue"> <%=tday%></h1> 
    </div>


    <div class="box" id="heading">

        <ul>
   
    <p class="item">
    <%for (item of NewItem){%>
    <li><%=item%></p>
    <%}%>
</div>
  </ul>
  <form class='item' action="/" method="post">
    <Label>NewItem</Label>
    <input type="text" name="Newitem" placeholder="newitem" autocomplete="False">
    <button type="submit">+</button>

  </form>
  
</div>  
 
</body>
</html>